node_modules
.env

# Hardhat files
/cache
# Ignore all files in the artifacts directory
/artifacts/*
# Except for the contracts directory
!/artifacts/contracts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
